.food-list-container{
    margin-top: 20px;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

.food-list-container{
    text-align: center;
}

.food-list-group{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(360px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

@media (max-width: 1050px){
    .food-list-container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .food-list-container h1{
        font-size: 25px;
    }
    .food-list-group{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
