.header-container{
    height: 34vw;
    margin: 30px auto;
    background: url('../../assets/frontend_assets/header_img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.detail-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 49%;
    align-items: start;
    gap: 1.5vw;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;

}

.detail-container h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.detail-container p{
    color: white;
    font-size: 17px;
    max-width: 87%;
}

.view-menu-button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

@media (max-width: 1050px){
    .header-container{
        margin: 20px auto;
    }

    .detail-container h2{
        font-size: max(4.5vw, 20px);
    }
    .detail-container p{
        font-size: 13px;
    }
    .view-menu-button{
        padding: 10px 20px;
    }
}

@media (max-width: 900px){
    .header-container{
        margin: 10px auto;
    }
    .detail-container{
        max-width: 41%;
    }
    .detail-container h2{
        font-size: 34px;
    }
    .detail-container p{
        font-size: 12px;
    }
    .view-menu-button{
        padding: 8px 18px;
    }
}

@media (max-width: 800px){
    .header-container{
        width: 90%;
        margin: 20px auto;
    }
    .detail-container{
        max-width: 39%;
    }
    .detail-container h2{
        font-size: 30px;
    }
    .detail-container p{
        display: none;
    }
    .view-menu-button{
        padding: 6px 13px;
    }
}

@media (max-width: 450px){
    .header-container{
        width: 90%;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .detail-container{
        max-width: 60%;
        display: flex;
        justify-content: center;
    }
    .detail-container h2{
        font-size: 18px;
    }
    .detail-container p{
        display: none;
    }
    .view-menu-button{
        padding: 5px 10px;
    }
}