.footer-container {
    background-color: #323232;
    color: #d9d9d9;
    padding: 30px 8vw 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-top {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    gap: 15px;
    justify-items: center;
    align-items: center;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    width: 100%;
    font-size: 16px;
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer-center,
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items:last baseline;
  }
  
  .footer-left .footer-logo {
    margin-bottom: 15px;
    width: 200px;
  }
  
  .footer-details {
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  .social-media-icon {
    width: 40px;
    margin-right: 5px;
    transition: 0.3s;
    background-color: inherit;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .social-media-icon:hover {
    background-color: tomato;
  }
  
  .company-list,
  .footer-right-list {
    list-style-type: none;
    padding: 0;
  }
  
  .company-list li,
  .footer-right-list li {
    margin: 10px 0;
    cursor: pointer;
  }
  
  .footer-bottom {
    margin-top: 30px;
    text-align: center;
  }
  
  .footer-bottom p {
    margin-top: 10px;
  }
  

  @media (max-width: 700px){
    .footer-top{
      display: flex;
      align-items: center;
      justify-content: left;
      flex-direction: column;
    }
    .footer-left, .footer-center, .footer-right{
      display: flex;
      align-items: baseline;
      justify-content: center;
      flex-direction: column;
      font-size: 15px;
    }
    .footer-left .footer-logo {
      margin-bottom: 15px;
      width: 160px;
    }
    .social-media-icon{
      width: 37px;
    }
  }

  @media (max-width: 500px){
    
    .footer-left, .footer-center, .footer-right{
      font-size: 14px;
    }
    .footer-left .footer-logo {
      margin-bottom: 10px;
      width: 150px;
    }
    .social-media-icon{
      width: 35px;
    }
  }